body {
    text-align: center;
}

h1 {
    font-family: "Rubik Vinyl", serif;
}

button {
    font-family: "Economica", serif;
}

#grid-container {
    display: grid;
    max-width: 45rem;
    height: 45rem;
    margin: 0 auto;
}

.square {
    border: solid 1px;
}
