body {
    text-align: center;
    background-color: #f5f5dcd2;
}

h1 {
    font-family: "Rubik Vinyl", serif;
}

button {
    font-family: "Economica", serif;
}

.input-mode {
    margin: 1rem;
}

#grid-container {
    display: grid;
    max-width: 40rem;
    height: 40rem;
    margin: 0 auto;
    background-color: #ffffff;
}

.square {
    border: solid 1px;
}
